# ====== MAXFIY FAYLLAR — GitHub ga YUKLANMAYDI ======
.env
*.env
.env.local

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
venv/
.venv/
env/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
